/*1324px*/
@media only screen and (max-width: 82.75em) {

  html {
    font-size: 50%;
  }

  /* .transaction-history {
    flex: 0 0 80%;
  } */
}

/*600px*/
@media only screen and (max-width: 37.5em) {

  .side-bar {
    display: none;
  }

  .search-form {
    flex: 0 0 75%;
  }

  .content-details {
    flex-direction: column;
    padding: 2rem;
  }

  .content-left {
    margin-right: 0;
  }

}